Source: liblinux-atasmart-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Ioan Rogers <ioan@dirtysoft.ca>
Section: perl
Priority: optional
Build-Depends: debhelper (>= 9), perl, libatasmart-dev, libmoo-perl, libtry-tiny-perl, libextutils-pkgconfig-perl
Standards-Version: 3.9.3
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=pkg-perl/packages/liblinux-atasmart-perl.git
Vcs-Git: git://git.debian.org/pkg-perl/packages/liblinux-atasmart-perl.git
Homepage: https://metacpan.org/release/Linux-AtaSmart/

Package: liblinux-atasmart-perl
Architecture: any
Depends: ${perl:Depends}, ${shlibs:Depends}, ${misc:Depends}, libmoo-perl, libatasmart4
Description: Perl bindings for libatasmart
 This is a Perl XS wrapper around the Linux-only library,
 libatasmart <http://0pointer.de/blog/projects/being-smart.html>.
 .
 It allows you to query SMART information and start tests
 from Perl.

